$primary: #94e8b4;
$secondary: #aab3ff;
$tertiary: #f1ac63;
$lightGray: #9db0a3;

$theme-colors: (
  'primary': $primary,
  'secondary': $secondary,
  'tertiary': $tertiary,
  'lightGray': $lightGray
);
